<!-- ethiopian-datepicker.component.html -->
<!-- <div class="datepicker-wrapper">
  <input type="text" class="datepicker-input" [value]="model ? (model.day + '/' + model.month + '/' + model.year) : ''" readonly (click)="toggleCalendar()">
  <button mat-icon-button class="calendar-icon" (click)="toggleCalendar()">
    <mat-icon>calendar_today</mat-icon>
  </button>
</div>

<div *ngIf="isCalendarOpen" class="calendar-container">
  <ngb-datepicker #dp [(ngModel)]="model" [firstDayOfWeek]="7" [minDate]="minDate" (select)="onDateSelect($event)"></ngb-datepicker>
  <button class="btn btn-sm btn-outline-primary me-2" (click)="model = today">Select Today</button>
  <button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">To current month</button>
  <button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo({ year: 2524, month: 5 })"
    >To May 2524</button
  >
  
  <hr />
  
  <pre>Model: {{ model | json }}</pre>
</div> -->

<div>
  <span class="calendar-input">
  <input>
  <span class="calendar-icon" (click)="toggleCalendar()">

    <mat-icon>event</mat-icon>
  </span>
  </span>
</div>