/* ethiopian-datepicker.component.css
.datepicker-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .datepicker-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }
  
  .calendar-icon {
    margin-left: 5px;
  }
  
  .calendar-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 5px;
  }
   */
   .container{
  
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.calendar-container{
  position: relative;
}
.calendar{
  position: absolute;
  top: 39px;
}
caret-color{
  color: #d9d9d9;

}
.calendar-input{
    display: flex;
    border: 0.5px solid #d9d9d9;
    padding: 5px;
    border-radius: 10px;
}
.calendar-input input,
.calendar-input input:focus,
.calendar-input input:active {
    background: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    padding: 0; 
    margin: 0; 
}

.calendar-icon{
    color: #d9d9d9;
    align-self: center;
    display: flex;
}